<head>
    <title>Bet On Me</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/userGoal.css">
</head>

<body>
    <div class="container">
        <!-- Left Section: Profile -->
        <div class="profile-section">
            <div class="profile-picture">
                <span>Profile Picture</span>
            </div>
            <h2 class="user-name"> User Name </h2>
            <p class="goal-label">Big thing I want to accomplish!</p>
            <div class="big-thing">
                <input type="text" placeholder="Enter the Big Thing" id="bigThing" name="goal">
                <button class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                <button class="add-btn" id="saveBigThing"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    </div>

    <!-- Right Section: Steps -->
    <div class="container">
        <div class="user-step">
            <form class="input-area" action="/post/createTask" method="POST">
                <input type="text" id="task-input" placeholder="Enter the steps to get there" name="title">
                <input type="text" id="hide-task" placeholder="Name" name="_id">
                <button type="submit" id="add-task-btn"><i class="fa-solid fa-plus"></i></button>
            </form>

            <div class="user-steps">
                <ul id="task-list">
                    <% for(var i=0; i<tasks.length; i++) {%>
                        <li class="task-buttons <%= tasks[i].completed ? 'completed' : '' %>">
                            <input type="checkbox" class="checkbox" <%=tasks[i].completed ? 'checked' : '' %>
                            data-id="<%= tasks[i]._id %>">
                                <%= tasks[i].task %>
                                    <span name="<%= tasks[i]._id %>"> <%=tasks[i].task_name%>
                                    </span>
                                    <button class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                                    <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                                    <input type="hidden" class="task-id" value="<%= tasks[i]._id %>">
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>

    <script src="/main.js"></script>
</body>