<%- include('partials/header') -%>

<section class="cont">
  <div class="center col alicen bg">
    <h2 class="big">Todo List</h2>
    <form action="/post/createTask" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Task</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">
        Submit
      </button>
    </form>
    <h1>Add</h1>
    <h2 id="clearCompleted">Clear Completed</h2>
    <h2 id="clearAll">Clear All</h2>

    <!-- Task List -->
    <ul id="taskList">
      <% tasks.forEach(task => {%>
      <li class="col-6 justify-content-between mt-5" data-id="<%= task._id %>">
        <span class="task-text"><%= task.task_name %></span>
        <input
          class="task-input d-none"
          type="text"
          value="<%= task.task_name %>"
        />
        <button class="btn-edit">Edit</button>
        <button class="btn-save d-none">Save</button>
        <button class="btn-cancel d-none" title="Cancel">X</button>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
<script src="/js/main.js"></script>

<%- include('partials/footer') -%>
